server:
  port: 8888
spring:
  application:
    name: gateway-service
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: http://localhost:8080/realms/employee-realm
            user-name-attribute: preferred_username

        registration:
          keycloak:
            client-id: ems-api
            client-secret: kWaB7Ld7wFZpDiKKTybK3gRXmHzG6Maq
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - openid
              - profile
              - email

      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/employee-realm
          jwk-set-uri: http://localhost:8080/realms/employee-realm/protocol/openid-connect/certs

## Eureka Client Configuration
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true